<div class="centered-content">
  <div class="movie-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Genres
      </h1>
      <div class="list-menu">
        <a class="list-menu-item" *ngFor="let genre of genres" [routerLink]="['/genres', genre._id]" routerLinkActive="is-active">
          <p>{{ genre.title }}</p>
        </a>
      </div>
      <button class="button is-primary has-text-white" routerLink="/new-genre">+ New Genre</button>

    </div>
    <div class="movie-list-container has-background-light">
      <h1 class="title has-text-primary">
        Movies
      </h1>
      <div class="movie" *ngFor="let movie of movies">
        <p>{{movie.title}}</p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>