<div class="centered-content">
  <div class="movie-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Genres
      </h1>
      <div class="list-menu">
        <a class="list-menu-item" *ngFor="let genre of genres" [routerLink]="['/genres', genre._id]" routerLinkActive="is-active">
          <p>{{ genre.title }}</p>
        </a>
      </div>
      <button class="button is-primary has-text-white" routerLink="/new-genre">+ New Genre</button>

    </div>
    <div class="movie-list-container has-background-light">
      <div *ngIf="movies">
          <h1 class="title has-text-primary">
              Movies
            </h1>
            <div class="movie" *ngFor="let movie of movies" (click)="onMovieClick(movie)" [ngClass]="{ 'watched': movie.watched }">
              <p>{{movie.title}}</p>
            </div>

            <h3 class="empty-state-text" *ngIf="!movies.length">Ooops! Looks like you haven't add any movies for this genre..</h3>

            <button class="circle-add-button button is-primary" routerLink="./new-movie">
              <img src="../../../assets/plus-icon.svg" class="has-text-white">
            </button>
      </div>
      <div *ngIf="!movies">
          <h3 class="empty-state-text">Please select movies genre..</h3>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>