<div class="centered-content">
  <div class="movie-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Genres
      </h1>
      <div class="list-menu">
        <a class="list-menu-item">
          <p>List 1</p>
        </a>
        <a class="list-menu-item">
          <p>List 2</p>
        </a>
      </div>
      <button class="button is-primary has-text-white" routerLink="/new-genre">+ New Genre</button>

    </div>
    <div class="movie-list-container has-background-light">
      <h1 class="title has-text-primary">
        Movies
      </h1>
      <div class="movie">
        <p>something to do</p>
      </div>
      <div class="movie">
        <p>something to do</p>
      </div>
      <div class="movie watched">
        <p>something to do</p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>