<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      new movie to watch
    </h1>

    <input #movieTitleInput class="input has-background-light is-medium" type="text" placeholder="Title">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <button class="button is-primary has-text-white is-medium" (click)="createMovie(movieTitleInput.value)">Add</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>