<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Create a new genre
    </h1>

    <input #genreTitleInput class="input has-background-light is-medium" type="text" placeholder="Genre name...">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <button class="button is-primary has-text-white is-medium" (click)="createNewGenre(genreTitleInput.value)">Create</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>